<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Paksa HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. Redirect pengunjung dari URL lama /web ke root
  RewriteRule ^web/?(.*)$ /$1 [R=301,L]

  # 3. Nuxt SPA fallback
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
